In [3]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import imageio
import os

In [2]:
data = pd.DataFrame(pd.read_csv('https://raw.githubusercontent.com/thanhqtran/dataset/6fb7255cb089ba11f4f9f0b18f0d1d65ae6a49b6/vietnam/mofbalance/state_budget_balance.csv'))
# delete legends columns
df = data.drop(['Classification','item_VN','item'], axis=1)
# convert data to long form 
df
df_melted = df.melt(id_vars=['Code'], value_vars=[ year for year in df.columns[1:] ])
df_melted

             Code variable       value
0     agg_tax_cor     2001     35574.0
1     tax_cor_soe     2001     23149.0
2     tax_cor_fdi     2001      5702.0
3    tax_cor_priv     2001      6723.0
4         tax_inc     2001      2058.0
..            ...      ...         ...
869    agg_invExp     2019    421845.0
870       agg_Exp     2019   1526983.0
871           def     2019    161491.0
872      gdp_curr     2019  6048352.06
873     rgdp_cons     2019         NaN

[874 rows x 3 columns]

In [12]:
df

,Code,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,agg_tax_cor,35574.0,40106.0,47410.0,56987.0,75847.0,99796,104552.0,137239.0,112164.0,148655.0,196058.0,215798.000,231146.0,207807.0,200030.0,189677.0,217200.0,250892.0,270610.00
1,tax_cor_soe,23149.0,25066.0,28748.0,13066.0,15017.0,21018,21603.0,36182.0,37381.3,52605.0,59092.0,58554.441,56545.0,45242.0,50942.0,47086.0,45978.0,44807.0,52400.00
2,tax_cor_fdi,5702.0,7276.0,9942.0,37512.0,52834.0,68734,71515.0,83385.0,63538.0,74323.6,111573.0,129119.154,145804.0,130784.1,113926.0,97462.0,108401.4,135606.0,134504.00
3,tax_cor_priv,6723.0,7764.0,10361.0,6409.0,7906.0,10045,11434.0,17672.0,11245.0,21726.0,25393.0,28124.840,28797.0,31781.0,35162.0,43937.0,56978.4,70479.0,83706.00
4,tax_inc,2058.0,2338.0,2951.0,3521.0,4234.0,5179,7415.0,12940.0,14318.0,26276.0,38469.0,44959.000,46548.0,47844.0,56723.0,65239.0,78783.0,94364.0,109406.00
5,tax_res,298.0,336.0,359.0,438.0,515.0,594,711.0,902.0,1203.0,1396.0,1589.0,1193.000,1447.0,1463.0,1479.0,1419.0,1687.0,1874.0,2040.00
6,tax_reg,1191.0,1332.0,1817.0,2607.0,2797.0,3363,5636.0,7363.0,9670.0,12611.0,15700.0,11816.000,13595.0,16090.0,22405.0,27311.0,27613.0,32409.0,40190.00
7,tax_vat,NaN,9488.0,33130.0,38814.0,45878.0,55148,69822.0,91506.0,108549.0,155022.0,192064.0,174056.000,208536.0,241129.0,251758.0,269627.0,314508.0,344063.0,362691.00
8,tax_exc,NaN,NaN,8851.0,12773.0,15716.0,17195,17365.0,22123.0,29728.0,37311.0,42686.0,43364.000,54177.0,55474.0,66653.0,85853.0,86585.0,96025.0,106753.00
9,tax_nat,NaN,NaN,9719.0,17398.0,21236.0,26620,21461.0,26347.0,19093.0,26316.0,38123.0,40660.000,37894.0,38048.0,29110.0,27080.0,32822.0,38195.0,36768.00
10,tax_agr,814.0,772.0,151.0,130.0,132.0,111,113.0,97.0,67.0,56.0,72.0,69.000,69.0,61.0,58.0,60.0,39.0,27.0,20.00
11,tax_exm,22949.0,22083.0,22374.0,21614.0,23660.0,26280,38309.0,60474.0,76996.0,74068.0,81406.0,71276.000,78253.0,95603.0,99315.0,96247.0,97018.0,87317.0,96943.00
12,tax_env,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,11201.0,12676.000,11849.0,12087.0,27020.0,43632.0,44666.0,47050.0,63075.00
13,tax_lot,2457.0,3029.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,27898.0,29440.0,33908.00
14,tax_lcs,NaN,NaN,778.0,657.0,726.0,794,883.0,1011.0,1153.0,1326.0,1478.0,1575.000,1693.0,1763.0,1819.0,1966.0,NaN,NaN,NaN
15,ntax_fee,2583.0,3021.0,8641.0,7765.0,8135.0,8955,10941.0,12290.0,18325.0,20542.0,10341.0,11281.000,14283.0,16038.0,25381.0,17211.0,36062.0,37530.0,41011.00
16,ntax_res,3879.0,5486.0,6483.0,1035.0,1004.0,1622,2180.0,3521.0,3370.0,3791.0,5869.0,7771.000,7473.0,9421.0,15451.0,23621.0,25230.0,28437.0,33829.00
17,rev_oil,26281.0,26510.0,36773.0,48562.0,66558.0,83346,78634.0,89603.0,61137.0,69179.0,110205.0,140106.000,120436.0,100082.0,67510.0,40186.0,49583.0,66048.0,56251.00
18,ntax_misc,1554.0,2297.0,11259.0,15778.0,18575.0,16956,17381.0,13632.0,23894.0,17628.0,20420.0,41518.000,63867.0,77661.0,118194.0,143028.0,163155.0,185815.0,193787.00
19,cap_rev,NaN,NaN,9265.0,15540.0,15459.0,17409,31165.0,32885.0,39588.0,51563.0,54225.0,46904.000,46394.0,46156.0,70977.0,100887.0,127490.0,150442.0,157448.00
20,aid,2011.0,2250.0,2969.0,2877.0,3789.0,7897,6012.0,9413.0,7908.0,11868.0,12103.0,10267.000,11124.0,11050.0,11844.0,8519.0,7910.0,7780.0,5133.00
21,agg_tax,69134.0,84296.0,127947.0,155579.0,191725.0,236331,268594.0,363020.0,373201.0,483037.0,618846.0,617442.000,685207.0,717370.0,756370.0,808111.0,928818.0,1021657.0,1122403.00
22,agg_ntax,6462.0,10804.0,17875.0,24618.0,27714.0,27532,30502.0,29443.0,45589.0,41960.0,36630.0,60570.000,85623.0,103120.0,159026.0,183860.0,224447.0,251783.0,268627.00
23,agg_curRev,101877.0,121610.0,145822.0,180197.0,219438.0,263864,299096.0,392463.0,418790.0,524998.0,655476.0,678012.000,770830.0,820491.0,915396.0,991971.0,1153265.0,1273440.0,1391030.00
24,agg_Rev,103888.0,123860.0,158056.0,198614.0,238686.0,289170,336273.0,434761.0,466286.0,588428.0,721804.0,735183.000,828348.0,877697.0,998217.0,1101377.0,1288665.0,1431662.0,1553611.00
25,agg_exp_adm,8734.0,NaN,11359.0,15901.0,18761.0,18515,32071.0,38025.0,40557.0,56129.0,72423.0,89172.000,109093.0,123120.0,132843.0,118169.0,128080.0,NaN,NaN
26,agg_exp_eco,6288.0,NaN,8164.0,10301.0,11801.0,14212,15936.0,21193.0,27208.0,37632.0,45543.0,56854.000,66231.0,69442.0,79519.0,91545.0,109297.0,NaN,NaN
27,exp_soc_edu,15432.0,17844.0,22881.0,25343.0,28611.0,30127,35241.0,43414.0,69320.0,78206.0,99369.0,127136.000,155603.0,174777.0,177367.0,195635.0,217057.0,220436.0,237767.00
28,exp_soc_hea,4645.0,NaN,5372.0,6009.0,7608.0,7205,8756.0,10146.0,19354.0,2513.0,30930.0,39454.000,45872.0,50261.0,49423.0,76217.0,85230.0,NaN,NaN
29,exp_soc_sci,1625.0,1852.0,1853.0,2362.0,2584.0,11528,12688.0,14384.0,3811.0,4144.0,5758.0,5918.000,6593.0,7027.0,9392.0,10471.0,11263.0,11111.0,12426.00
30,exp_soc_cul,921.0,NaN,2962.0,3792.0,4442.0,4014,4625.0,5154.0,6080.0,8828.0,8645.0,11372.000,13166.0,13574.0,15539.0,6330.0,7410.0,NaN,NaN
31,exp_soc_rtv,838.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3805.0,4580.0,NaN,NaN
32,exp_soc_spo,483.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2840.0,2921.0,NaN,NaN
33,exp_soc_ssp,13425.0,NaN,16451.0,17282.0,17747.0,28651,36597.0,37137.0,50266.0,64218.0,78090.0,85671.000,100247.0,106958.0,105295.0,122905.0,131104.0,NaN,NaN
34,exp_irp,NaN,NaN,6395.0,7217.0,6621.0,7965,12660.0,16730.0,20490.0,25400.0,29786.0,39884.000,54084.0,66738.0,82022.0,86882.0,98900.0,106584.0,107065.00
35,exp_sal,NaN,NaN,NaN,2356.0,12983.0,16572,21666.0,22891.0,18870.0,17517.0,21184.0,48494.000,15600.0,NaN,10000.0,13055.0,6600.0,NaN,NaN
36,exp_inv_con,36139.0,NaN,54430.0,61746.0,72842.0,81078,98692.0,110085.0,169036.0,172351.0,195483.0,254417.000,258708.0,236589.0,285663.0,265023.0,360526.0,NaN,NaN
37,exp_inv_cap,4097.0,NaN,5199.0,4369.0,6357.0,7263,5610.0,9377.0,12327.0,10815.0,12823.0,14395.000,12972.0,11863.0,23190.0,3158.0,5000.0,NaN,NaN
38,exp_rep,NaN,NaN,19032.0,26822.0,33606.0,39649,44473.0,40930.0,53244.0,62516.0,81126.0,64817.000,56579.0,64404.0,84497.0,67068.0,161340.0,137157.0,188214.00
39,agg_curExp,128924.0,78039.0,102522.0,121238.0,149893.0,180069,232010.0,292374.0,326666.0,403151.0,498122.0,644835.000,759893.0,791127.0,872275.0,937951.0,1016152.0,1042131.0,1105048.00
40,agg_socExp,65274.0,24951.0,50185.0,55185.0,61475.0,78059,92029.0,114020.0,148831.0,180526.0,222792.0,269551.000,321481.0,352597.0,357016.0,418203.0,459565.0,NaN,NaN
41,agg_invExp,40236.0,45218.0,59629.0,66115.0,79199.0,88341,104302.0,119462.0,181363.0,183166.0,208306.0,268812.000,271680.0,248452.0,308853.0,268181.0,365526.0,393304.0,421845.00
42,agg_Exp,129773.0,148208.0,162151.0,187353.0,229092.0,268410,336311.0,411836.0,508029.0,788358.0,953118.0,913647.000,1031573.0,1039579.0,1181128.0,1293009.0,1462965.0,1435435.0,1526983.00
43,def,25885.0,24348.0,29936.0,34703.0,40746.0,48613,64567.0,67676.0,114442.0,109191.0,112034.0,173815.000,236769.0,249362.4,263134.5,254000.0,174300.0,153110.0,161491.00
44,gdp_curr,NaN,NaN,613443.0,715307.0,914001.0,1061565,1246769.0,1616047.0,1809149.0,2157828.0,2779880.0,3245419.000,3584262.0,3937856.0,4192862.0,4502733.0,5005975.0,5542332.0,6048352.06
45,rgdp_cons,NaN,NaN,NaN,NaN,1588646.0,1699501,1820667.0,1923749.0,2027591.0,2157828.0,2292483.0,2412778.000,2543596.0,2695796.0,2875856.0,3054470.0,3262548.0,3493399.0,NaN

In [5]:
# figure of agg_Exp and agg_Rev
inquiry = df_melted[df_melted['Code'] == 'agg_Exp']
inquiry2 = df_melted[df_melted['Code'] == 'agg_Rev']
inquiry3 = df_melted[df_melted['Code'] == 'def']
filenames = []
for i in range(len(inquiry['variable'])):
    plt.plot(inquiry['variable'][:i], inquiry['value'][:i].astype(float)/1000, label='Aggregate Expenditure')
    plt.plot(inquiry2['variable'][:i], inquiry2['value'][:i].astype(float)/1000, label='Aggregate Revenue')
    plt.plot(inquiry3['variable'][:i], inquiry3['value'][:i].astype(float)/1000, label='Deficit', color='red', linestyle=':')
    plt.ylabel('1000 Bil. VND')
    plt.xlabel('Year')
    plt.xticks(rotation=90)
    plt.legend()
    plt.title('Vietnamese Government Budget Balance')
    #create file name and add to list
    filename = f'{i}.png'
    filenames.append(filename)
    #save frames
    plt.savefig(filename, dpi=300, bbox_inches='tight')
    plt.close()
    # build gif

gif_filename = f'budget.gif'
images = []
duration = 0.15

with imageio.get_writer(gif_filename, mode='I', duration=duration, loop=1) as writer:
    for filename in filenames:
        image = imageio.imread(filename)
        writer.append_data(image)

# Remove files
for filename in set(filenames):
    os.remove(filename)